USE [lavadoras_db]
GO
/****** Object:  Table [dbo].[cliente]    Script Date: 18/04/2026 7:47:45 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cliente](
	[id_cliente] [bigint] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](100) NOT NULL,
	[telefono] [varchar](20) NULL,
	[direccion] [varchar](200) NULL,
	[email] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_cliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[reserva]    Script Date: 18/04/2026 7:47:45 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[reserva](
	[id_reserva] [bigint] IDENTITY(1,1) NOT NULL,
	[fecha_reserva] [date] NOT NULL,
	[jornada] [varchar](10) NOT NULL,
	[estado] [varchar](20) NOT NULL,
	[observaciones] [varchar](255) NULL,
	[id_cliente] [bigint] NOT NULL,
	[id_servicio] [bigint] NOT NULL,
	[id_tecnico] [bigint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_reserva] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[servicio]    Script Date: 18/04/2026 7:47:45 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[servicio](
	[id_servicio] [bigint] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](100) NOT NULL,
	[descripcion] [varchar](255) NULL,
	[precio_base] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_servicio] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tecnico]    Script Date: 18/04/2026 7:47:45 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tecnico](
	[id_tecnico] [bigint] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](100) NOT NULL,
	[telefono] [varchar](20) NULL,
	[email] [varchar](100) NULL,
	[descripcion] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_tecnico] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[cliente] ON 

INSERT [dbo].[cliente] ([id_cliente], [nombre], [telefono], [direccion], [email]) VALUES (1, N'Carlos Lopez', N'3011111111', N'Calle 10', N'carlos@test.com')
INSERT [dbo].[cliente] ([id_cliente], [nombre], [telefono], [direccion], [email]) VALUES (2, N'Ana Torres', N'3022222222', N'Carrera 20', N'ana@test.com')
SET IDENTITY_INSERT [dbo].[cliente] OFF
GO
SET IDENTITY_INSERT [dbo].[reserva] ON 

INSERT [dbo].[reserva] ([id_reserva], [fecha_reserva], [jornada], [estado], [observaciones], [id_cliente], [id_servicio], [id_tecnico]) VALUES (1, CAST(N'2026-04-20' AS Date), N'mañana', N'pendiente', N'Hace ruido', 1, 2, 1)
INSERT [dbo].[reserva] ([id_reserva], [fecha_reserva], [jornada], [estado], [observaciones], [id_cliente], [id_servicio], [id_tecnico]) VALUES (2, CAST(N'2026-04-21' AS Date), N'tarde', N'completado', N'Cambio de motor', 2, 2, 2)
SET IDENTITY_INSERT [dbo].[reserva] OFF
GO
SET IDENTITY_INSERT [dbo].[servicio] ON 

INSERT [dbo].[servicio] ([id_servicio], [nombre], [descripcion], [precio_base]) VALUES (1, N'Mantenimiento', N'Limpieza general', CAST(50000.00 AS Decimal(10, 2)))
INSERT [dbo].[servicio] ([id_servicio], [nombre], [descripcion], [precio_base]) VALUES (2, N'Reparacion', N'Arreglo de fallas', CAST(80000.00 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[servicio] OFF
GO
SET IDENTITY_INSERT [dbo].[tecnico] ON 

INSERT [dbo].[tecnico] ([id_tecnico], [nombre], [telefono], [email], [descripcion]) VALUES (1, N'Juan Perez', N'3001234567', N'juan@test.com', N'Especialista en lavadoras')
INSERT [dbo].[tecnico] ([id_tecnico], [nombre], [telefono], [email], [descripcion]) VALUES (2, N'Maria Gomez', N'3009876543', N'maria@test.com', N'Reparaciones generales')
SET IDENTITY_INSERT [dbo].[tecnico] OFF
GO
ALTER TABLE [dbo].[reserva]  WITH CHECK ADD  CONSTRAINT [fk_reserva_cliente] FOREIGN KEY([id_cliente])
REFERENCES [dbo].[cliente] ([id_cliente])
GO
ALTER TABLE [dbo].[reserva] CHECK CONSTRAINT [fk_reserva_cliente]
GO
ALTER TABLE [dbo].[reserva]  WITH CHECK ADD  CONSTRAINT [fk_reserva_servicio] FOREIGN KEY([id_servicio])
REFERENCES [dbo].[servicio] ([id_servicio])
GO
ALTER TABLE [dbo].[reserva] CHECK CONSTRAINT [fk_reserva_servicio]
GO
ALTER TABLE [dbo].[reserva]  WITH CHECK ADD  CONSTRAINT [fk_reserva_tecnico] FOREIGN KEY([id_tecnico])
REFERENCES [dbo].[tecnico] ([id_tecnico])
GO
ALTER TABLE [dbo].[reserva] CHECK CONSTRAINT [fk_reserva_tecnico]
GO
ALTER TABLE [dbo].[reserva]  WITH CHECK ADD CHECK  (([estado]='cancelado' OR [estado]='completado' OR [estado]='pendiente'))
GO
ALTER TABLE [dbo].[reserva]  WITH CHECK ADD CHECK  (([jornada]='tarde' OR [jornada]='mañana'))
GO
ALTER TABLE [dbo].[servicio]  WITH CHECK ADD CHECK  (([precio_base]>=(0)))
GO
